@page "/Artists"


@inject ArtistAPI artistAPI

<h3>Artists</h3>
@if(artists is not null)
{
    foreach(var artist in artists)
    {
        <p>@artist.Name</p>
    }
}


@code {
    private ICollection<ArtistResponse>? artists;


    protected override async Task OnInitializedAsync()
    {
        artists = await artistAPI.GetArtistsAsync();        
    }

}
